<a href="https://colab.research.google.com/github/rit2007/pwskills_RD05252/blob/main/Python_Data_Structures_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Theoretical Questions**

```



````

**1. What are data structures, and why are they important?**


  **Ans:**   Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because the choice of data structure has a direct impact on the performance (time and space complexity) of algorithms, readability of code, and scalability of applications.

**2. Explain the difference between mutable and immutable data types with examples.**


**Ans:** Mutable data types can be changed after creation.

Examples: list, dict, set.

**Mutable Coded Example:**

In [ ]:
a = [1,2]
a.append(3)
print(a)  # a is now [1,2,3]

[1, 2, 3]

Immutable types cannot be changed once created. Any “change” creates a new object.

**Immutable Type Coded Example**

In [ ]:
tup = (1, 2, 3)
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

**3. What are the main differences between lists and tuples in Python?**

**Ans:**


| Aspect	  | List       | Tuple    |
|-------------|----------|----------|
| Mutability | Mutable  | Immtable |
| Syntax    | [1,2,3]	  | (1,2,3)  |
| Methods   | .append() | Analyst  |
| Use Case  | Storage of editable data| Storage of Sensitive non-editable data|

**4. Describe how dictionaries store data.**

**Ans:**
Python dictionaries use a hash table internally. Each key is hashed to an index in an underlying array; values are stored in “buckets.” Collisions are resolved via open addressing (probing) or chaining.

**5. Why might you use a set instead of a list in Python?**

**Ans:**

1. **Uniqueness**: it automatically drops duplicates.

2. **Speed**: checking “x in my_set” is on average much faster than doing “x in my_list.”

**6. What is a string in Python, and how is it different from a list?**

**Ans:**   A string is an immutable sequence of Unicode characters. Unlike a list, you cannot modify individual characters in place, and strings have methods specific to text processing.

**7. How do tuples ensure data integrity in Python?**

**Ans:** Because they are immutable, once created their contents cannot be changed. This prevents accidental modification and makes tuples safe to use as keys in dictionaries.

**8. What is a hash table, and how does it relate to dictionaries in Python?**


**Ans:** A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets. Python’s dict is implemented as a hash table, giving average O(1) lookup, insertion, and deletion.

**9. Can lists contain different data types in Python?**


**Ans:** Yes. A Python list is heterogeneous: e.g.,   `[1, "two", 3.0, [4]]`.

**10. Explain why strings are immutable in Python.**

**Ans:**

**1.** Immutable strings simplify memory management (interning, sharing).

**2.** Thread-safe: no need for locks when sharing between threads.

**3.** Hashable: can be used as keys in dictionaries and elements of sets.

**11. What advantages do dictionaries offer over lists for certain tasks?**

* **Key-based access:** O(1) lookup by key vs O(n) lookup by value/index in lists.

* **Semantic clarity:** keys label data points.

**12. Describe a scenario where using a tuple would be preferable over a list.**

**Ans:**

*  Fixed-size records, e.g., storing (latitude, longitude) pairs or RGB color triples.

*  When you need to use the collection as a dict key.

**Q13. How do sets handle duplicate values in Python?**

**Ans:** Sets automatically discard duplicates upon insertion, keeping only unique elements.

**Q14. How does the in keyword work differently for lists and dictionaries?**

**Ans:**

*  List: x in my_list scans elements one by one (O(n)).

*  Dict: key in my_dict checks if key exists in the hash table (O(1) average).

**Q15. Can you modify the elements of a tuple? Explain why or why not.**

**Ans:** No. Tuples are immutable, so you cannot add, remove, or change elements once the tuple is created..

**Q16. What is a nested dictionary, and give an example of its use case.**

**Ans:** A dictionary whose values are themselves dictionaries.


```
users = {
    "alice": {"age":30, "city":"Paris"},
    "bob":   {"age":22, "city":"New York"}
}

```
**Use case:** They essential when we need to organize complex, hierarchical data in Python. They're particularly useful for working with JSON data, configuration settings, or any structured data that has multiple levels.

**Q17. Describe the time complexity of accessing elements in a dictionary.**

**Ans:** Looking something up in a Python dictionary usually takes the same tiny amount of time no matter how big it is, because the key is turned into a “slot number” and accessed directly. Only in very rare cases—when many keys accidentally land in the same slot—does it have to check a few more spots, which makes it slower.

**Q18. In what situations are lists preferred over dictionaries?**

**Ans:**

*  When order matters and we need to maintain sequence.

*  When we want slicing, concatenation, or indexed access.

*  When we don’t need key-based lookup.

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

**Ans:**
Historically, dicts did not preserve insertion order (pre-Python 3.7). Conceptually, they’re optimized for key lookup, not ordering. In modern Python insertion order is preserved, but you still retrieve items by key, not by position.

**Q20. Explain the difference between a list and a dictionary in terms of data retrieval.**

**Ans:**

*  **List**: retrieve by integer index (my_list[2]).

*  **Dict**: retrieve by key (my_dict["name"]).

```





```

# **Practical Questions**

```





```

In [ ]:
# Q1. Create a string with your name and print it

name = "Ritam Dutta"
print(name)

Ritam Dutta

In [ ]:
# Q2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [ ]:
# Q3. Slice the first 3 characters from "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
# Q4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [ ]:
# Q5. Replace "apple" with "orange" in "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
# Q6. Create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# Q7. Append the number 10 to the list [1, 2, 3, 4]
list_a = [1, 2, 3, 4]
list_a.append(10)
print(list_a)

[1, 2, 3, 4, 10]

In [ ]:
# Q8. Remove the number 3 from the list [1, 2, 3, 4, 5]
list_b = [1, 2, 3, 4, 5]
list_b.remove(3)
print(list_b)

[1, 2, 4, 5]

In [ ]:
# Q9. Access the second element in ['a', 'b', 'c', 'd']
list_c = ['a', 'b', 'c', 'd']
print(list_c[1])

b

In [ ]:
# Q10. Reverse the list [10, 20, 30, 40, 50]
list_d = [10, 20, 30, 40, 50]
print(list_d[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# Q11. Create a tuple (100, 200, 300) and print it
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
# Q12. Access the second-to-last element of ('red','green','blue','yellow')
tuple_b = ('red', 'green', 'blue', 'yellow')
print(tuple_b[-2])

blue

In [ ]:
# Q13. Find the minimum number in (10, 20, 5, 15)
tuple_c = (10, 20, 5, 15)
print(min(tuple_c))

5

In [ ]:
# Q14. Find the index of "cat" in ('dog','cat','rabbit')
animal = ('dog', 'cat', 'rabbit')
print(animal.index("cat"))

1

In [ ]:
# Q15. Create a tuple of three fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

In [ ]:
# Q16. Create a set with 'a', 'b', 'c' and print it
set_a = {'a', 'b', 'c'}
print(set_a)

{'a', 'c', 'b'}

In [ ]:
# Q17. Clear all elements from {1,2,3,4,5}
set_b = {1, 2, 3, 4, 5}
set_b.clear()
print(set_b)

set()

In [ ]:
# Q18. Remove the element 4 from {1, 2, 3, 4}
set_c = {1, 2, 3, 4}
set_c.remove(4)
print(set_c)

{1, 2, 3}

In [ ]:
# Q19. Find the union of {1,2,3} and {3,4,5}
set_d = {1, 2, 3}
set_e = {3, 4, 5}
print(set_d.union(set_e))

{1, 2, 3, 4, 5}

In [ ]:
# Q20. Find the intersection of {1,2,3} and {2,3,4}
set_f = {1, 2, 3}
set_g = {3, 4, 5}
print(set_f.intersection(set_g))

{3}

In [ ]:
# Q21. Create a dictionary with keys "name","age","city" and print it
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [ ]:
# Q22. Add "country": "USA" to {'name':'John','age':25}
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q23. Access the value of "name" in {'name':'Alice','age':30}
print({"name": "Alice", "age": 30}["name"])

Alice

In [ ]:
# Q24. Remove the key "age" from {'name':'Bob','age':22,'city':'New York'}
person3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person3["age"]
print(person3)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q25. Check if "city" exists in {'name':'Alice','city':'Paris'}
print("city" in {"name": "Alice", "city": "Paris"})

True

In [ ]:
# Q26. Create a list, a tuple, and a dict, then print them all
my_list  = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict  = {"x": 7, "y": 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'x': 7, 'y': 8}

In [ ]:
# Q27. Create a list of 5 random numbers 1–100, sort it, and print
import random
rand_list = [random.randint(1,100) for _ in range(5)]
rand_list.sort()
print(rand_list)

[5, 44, 54, 65, 77]

In [ ]:
# Q28. Create a list of strings and print the element at index 3
str_list = ["one", "two", "three", "four", "five"]
print(str_list[3])

four

In [ ]:
# Q29. Combine two dictionaries into one and print the result
dict_1 = {"a": 1, "b": 2}
dict_2 = {"b": 3, "c": 4}
combined = {**dict_1, **dict_2}  # later keys overwrite earlier
print(combined)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
# Q30. Convert a list of strings into a set
string_list = ["apple", "banana", "apple", "cherry"]
print(set(string_list))

{'apple', 'cherry', 'banana'}